@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

@font-face {
	font-family: 'playlistcaps';
	src: url('../fonts/playlist_caps-webfont.woff2') format('woff2'),
			 url('../fonts/playlist_caps-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'playlistornament';
	src: url('../fonts/playlist_ornament-webfont.woff2') format('woff2'),
			 url('../fonts/playlist_ornament-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'playlistscript';
	src: url('../fonts/playlist_script-webfont.woff2') format('woff2'),
			 url('../fonts/playlist_script-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
