.tk-blob {
	position: absolute;
	top: initial;
	left: initial;
	width: rem-calc(190px);
	z-index: -1;
	--amount: 4;
	--fill: var(--color-primary);
	animation: blob-turn var(--time, 100s) linear infinite;

	svg {
		animation: blob-skew calc( var(--time, 100s) * 0.5) linear 0s infinite;
	}

	path {
		animation: blob-scale calc( var(--time, 100s) * 0.5) ease-in-out 0s infinite;
	}

	&--alt {
		--fill: var(--color-secondary);
	}
}
