.tk-blob {
	position: absolute;
	top: initial;
	left: initial;
	width: rem-calc(500px);
	z-index: -1;
	--amount: 4;
	--fill: #e91e63;
	animation: blob-turn var(--time, 120s) linear infinite;

	svg {
		animation: blob-skew calc( var(--time, 120s) * 0.5) linear 0s infinite;
	}

	path {
		animation: blob-scale calc( var(--time, 120s) * 0.5) ease-in-out 0s infinite;
	}
}
