.therapy {
	&_header {
		padding: rem-calc(200px 0 0);
		text-align: center;

		&--left {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			position: relative;
			z-index: 1;
		}

		&--right {
			height: rem-calc(700px);

			img {
				position: absolute;
				width: rem-calc(900px);
				top: rem-calc(-130px);
				right: rem-calc(-150px);
				left: auto;
			}
		}

		&--help {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			font-size: rem-calc(50px);

			small {
				font-size: rem-calc(25px);
				letter-spacing: rem-calc(7px);
				font-weight: 200;
			}
		}

		&--help_image {
			img {
				width: auto;
				height: 135%;
				top: -35%;
				z-index: -1;
			}
		}

		h1 {
			font-size: rem-calc(70px);
			text-transform: uppercase;
			line-height: 1;
			font-weight: 500;
			letter-spacing: rem-calc(15px);

			small {
				display: block;
				width: rem-calc(330px);
				margin: 0 auto;
				padding: rem-calc(10px 0 0px);
				font-size: rem-calc(35px);
				line-height: 1.4;
				font-weight: 200;
				letter-spacing: rem-calc(5px);
			}
		}

		h2 {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			font-size: rem-calc(50px);

			small {
				font-size: rem-calc(25px);
				letter-spacing: rem-calc(7px);
				font-weight: 200;
			}
		}
	}

	&_blob {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: rem-calc(20px);
	}

	&_about-list {
		max-width: rem-calc(1248px);
    margin: 0 auto;

		ol {
			padding: 0;
			margin: 0;
			list-style: none;
			counter-reset: custom-counter;
		}

		li {
			position: relative;
			padding-left: rem-calc(80px);
			padding-bottom: rem-calc(50px );
			counter-increment: custom-counter;

			&:first-child {
				padding-right: 35%;
			}
		}

		li::before {
			content: counter(custom-counter);
			display: flex;
			justify-content: center;
			align-items: center;
			width: rem-calc(35px);
			height: rem-calc(35px);
			padding: rem-calc(30px);
			position: absolute;
			left: 0;
			top: 0;
			background-color: #000;
			border-radius: 50%;
			font-family: 'playlistscript';
			font-size: rem-calc(55px);
			color: #fff;
			font-weight: 800;
		}

		strong {
			font-size: rem-calc(25px);
		}

		p {
			font-size: rem-calc(20px);
		}
	}

	&_links {
		padding: rem-calc(200px 0 20px);
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: rem-calc(25px);
			letter-spacing: rem-calc(7px);
		}

		li {
			position: relative;
			padding: rem-calc(10px 0px 0px 40px);

			&::before {
				content: "";
				position: absolute;
				width: rem-calc(25px);
				height: rem-calc(25px);
				background-color: var(--color-secondary);
				left: rem-calc(0);
				top: rem-calc(15px);
				border-radius: 50%;
			}
		}

		a {
			color: #000;

			&:hover {
				color: var(--color-secondary);
			}
		}
	}

	&-types {
		&_header {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: rem-calc(200px);
			text-align: center;

			h2 {
				font-size: rem-calc(60px);
				letter-spacing: rem-calc(7px);
			}

			p {
				font-size: rem-calc(32px);
				font-weight: 200;
			}
		}

		&_mid {
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				font-size: rem-calc(26px);
				font-weight: 300;
				position: relative;
			}

			.text-float-left {
				position: absolute;
				left: rem-calc(9px);
				top: rem-calc(35px);
			}

			.text-special {
				position: absolute;
				left: rem-calc(70px);
				top: rem-calc(-5px);
				font-size: rem-calc(85px);
				font-weight: 200;
				font-family: 'playlistscript';
			}

			.text-float-right {
				position: absolute;
				top: rem-calc(90px);
			}
		}

		&_list {
			list-style: none;
			padding: 0;
			margin: 0;
			padding-top: rem-calc(100px);

			&-item {
				position: relative;
				font-size: rem-calc(30px);
				padding-bottom: rem-calc(30px);
				line-height: 1.4;
				

				&::before, &::after {
					content: "";
					position: absolute;
					width: rem-calc(33px);
					height: rem-calc(33px);
					background-color: #de6a99;
					left: rem-calc(-55px);
					top: rem-calc(5px);
					border-radius: 50%;
				}

				&::after {
					background-color: transparent;
					border: rem-calc(1px) solid var(--color-primary);
					left: rem-calc(-52px);
					top: rem-calc(3px);
				}
			}
		}
	}

	.tk-blob {
		width: rem-calc(190px);
	}

	.gatsby-image-wrapper {
		overflow: visible;
	}
}
